.table
  &__input
    min-width: fit-content!important
    input
      width: 2rem
      height: 2rem
  &__item
    th
      cursor: pointer
  &__main
    position: relative
  &__popup
    position: absolute
    top: 4rem
    box-shadow: 0 0 5px 0 black
    border-radius: 10px
    z-index: 12
    padding: 1rem
    transform: translate(-30% )
    background-color: #FFFFFF