.group
  display: flex
  flex-direction: column

  gap: 2rem
  &__list
    height: 40rem
    overflow: auto

.table
  &__input
    min-width: fit-content!important
    input
      width: 2rem
      height: 2rem
  &__item
    th
      cursor: pointer
  &__main
    position: relative
  &__popup
    position: absolute
    top: 4rem
    box-shadow: 0 0 5px 0 black
    border-radius: 10px
    z-index: 12
    padding: 1rem
    transform: translate(-30% )
    background-color: #FFFFFF
.footer
  display: flex
  flex-direction: column
  gap: 2rem
  &__table
    display: flex
    gap: 2rem
    &_left
      display: flex
      flex-direction: column
      gap: 2rem
      width: 100%
    &_right
      width: 40rem
      display: flex
      flex-direction: column
      gap: 2rem
      &_info
        height: 30rem
        overflow: auto