@import "app/styles/abstracts/variables"

.staffPage
  box-shadow: var(--sds-size-depth-0) var(--sds-size-depth-100) var(--sds-size-depth-100) var(--sds-size-depth-negative-100) var(--sds-color-black-100) var(--sds-size-depth-0) var(--sds-size-depth-400) var(--sds-size-depth-400) var(--sds-size-depth-negative-200) var(--sds-color-black-200)
  border: 1.5px solid var(--Grays-Gray-5, #E5E5EA)
  border-radius: 3rem
  display: flex
  flex-direction: column
  gap: 2.5rem
  padding: 3rem
  &__header
    display: flex
    justify-content: space-between
  &__title
    font-family: sans-serif, Montserrat
    font-size: 24px
    font-weight: 500
    line-height: 24px
    text-underline-position: from-font
    text-decoration-skip-ink: none
  &__btn
    border-radius: 50%
    padding: .8rem 1.5rem
    font-size: 2.4rem
  &__delete
    padding: .5rem 1.1rem
    border-radius: .4rem
    background: #C93A3A1A
    color: #C93A3A
    font-size: 16px
    line-height: 18px
    text-underline-position: from-font
    text-decoration-skip-ink: none

@media (max-width: 1440px)
  .staffPage
    &__content
      height: 49vh





