.menu
  //display: none
  min-width: 9rem
  height: 100%
  display: flex
  flex-direction: column
  //justify-content: center
  gap: 35px
  position: relative

  &__header
    cursor: pointer
    width: 7rem
    height: 7rem
    img
      width: 100%
      height: 100%
      border-radius: 50%
  &__items
    display: flex
    flex-direction: column
    gap: 2.5rem
    align-items: center

    .item
      width: 9rem
      display: flex
      flex-direction: column
      align-items: center
      gap: .5rem
      p
        font-size: 1.2rem
        color: white
  &__exit
    width: 9rem
    left: 50%
    transform: translate(-50%) !important
    bottom: 0
    position: absolute
    display: flex
    flex-direction: column
    align-items: center
    gap: .5rem
    i
      font-size: 2rem
      color: white
    p
      font-size: 1.2rem
      color: white
.bars
  display: none
  justify-content: center
  color: white
  background-color: rgba(0, 0, 0, 0.4)
  backdrop-filter: blur(4px)
  font-size: 2rem
  padding: .7rem

  //padding: 1rem
  border-radius: 5px
  box-shadow:  0 0 5px 0 #8B8B8B
  position: absolute
  bottom: 4rem
  right: 4rem
  z-index: 10000
  &__exit
    position: absolute
    color: white
    font-size: 1.6rem
    display: flex
    align-items: center
    bottom: 30px
    gap: 1rem
.unActive
  top: 0
  width: 100%
  height: 100%
  //left: 0
  position: absolute
  background-color: rgba(0, 0, 0, 0.38)
  backdrop-filter: blur(4px)
  display: none
  z-index: 1000
  padding-left: 1rem
  padding-top: 1rem
  transition: 1s all
  left: -400%

@media (max-width: 700px)
  .menu
    display: none
  .bars
    display: flex
  .unActive
    display: flex
  .active
    left: 0
  .barsMenu
    display: flex
