.theadBody
  position: sticky
  top: -3.5%
  height: 50px
  align-items: center

.tableBox
  overflow-y: scroll
  max-height: 55vh

.job
  display: flex
  align-items: center
  justify-content: flex-start
  gap: 1rem
  &__img
    width: 5rem
    height: 5rem
    overflow: hidden
    border-radius: 5px
    object-fit: cover


.edit
  padding: 5px 12px
  background: #3AC9771A
  width: fit-content
  color: #3AC977


.delete
  padding: 5px 12px
  background: #C93A3A1A
  width: fit-content
  color: #C93A3A

.haveWork
  padding: 5px 12px
  width: fit-content
  color: #3AC977



.notWork
  padding: 5px 12px
  width: fit-content
  color: #C93A3A