.deviceBox
  display: flex
  flex-wrap: wrap
  width: 100%
  gap: 2rem
.addItemBtn
  width: 9rem
  height: 9rem
  border-radius: 50%
.addItemBox
  width: 500px
  display: flex !important
  gap: 4rem
  &__input
    width: 90%
    margin-top: 5%