
@import url('https://fonts.googleapis.com/css2?family=Blinker:wght@100;200;300;400;600;700;800;900&family=Funnel+Sans:ital,wght@0,300..800;1,300..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap')
.header
  display: flex

  align-items: center
  justify-content: space-between
  &__title
    font-size: 2rem
    font-family: "Funnel Sans", sans-serif
    font-optical-sizing: auto
    font-weight: 600
    font-style: normal
  &__buttons
    display: flex
    gap: 2rem
    align-items: center
    &_btn
      color: black
      background-color: rgba(209, 209, 214, 1)!important
  &__span
    font-size: 1.6rem

  &__select
    width: 40rem
    margin: .5rem 0